.theme-switch {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 10;
}

@media only screen  and (max-width: 720px){
  .theme-switch {
    top: 0.4%;
    left: 1%;
  }

}

.inver{
  filter: invert(1);
}

.post{
  transition: 0.75s;
  opacity: 0.6;
}
.post:hover{
  opacity: 1;
  transition: 0.75s;
}

